{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'chat/exit.css' %}">
{% endblock %}

{% block title %}Exit{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class='row justify-content-center'>
            <div class='col-sm-3 col-md-12 col-lg-6'>
                <h3>You have left the chat.</h3>
                <a href="{% url 'index' %}"><button type="button" class="btn btn-primary" >Go to home page</button></a>
            </div>
        </div>
    </div>
{% endblock %}
