<nav class="navbar navbar-dark bg-dark navbar-expand-lg top-navbar">
    <a class="navbar-brand" href="{% url 'index' %}">Social app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <nav class="navbar navbar-nav container-fluid">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'chat' %}">Chat</a>
            </li>
            <a href="{% url 'login' %}"><button class="btn btn-light">Login/Register</button></a>
        </nav>
    </div>
</nav>